:root{
    --mainColor:#273c75;
}
header{
    background-color: rgba(17, 84, 84, 0.97);
    height: 100%;
    width: 100%;


}
.container{
    background-color: aliceblue;

}
.container-flex{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 120px;
    height: 120px;
    padding: 1px 1px;
    margin-left: 70px;
    margin-top: -20px;
    text-decoration: none;

}

.logoT{

    margin-top: -30px;
    margin-left: 30px;
    color: aliceblue;
    display:ruby-base;
    text-decoration: none;
    font-family: 'Arial',sans-serif;
}

.logoT:hover{
    text-decoration: none;
}



.listItem{
    margin-left: 2em;
    color: azure;
    font-size:15px;
    text-decoration: none;
    font-weight: bold;

}
.listItem:hover{
    text-decoration: none;
}
.icons{

    color: aliceblue;
    font-size:1.5rem;
    text-decoration: none;
    font-weight: bold;

}
.icon:hover{
    text-decoration: none;
}
.icon{
    color: azure;

}
.active{
    color: #5480f1;
}
@media screen and (max-width: 1280px){
    .icon{
        margin-left: 1em;
    }
}

@media screen and (max-width: 1186px) {
    html{
        font-size: 10px;
    }
    .container-flex{
        flex-direction:column ;
    }
    .logo{
        width: 80px;
        height: 80px;
    }

    @media screen and (max-width: 768px){
        html{
            font-size: 10px;
        }
        .container-flex{
            flex-direction:column ;
        }
        .logo{
            width: 80px;
            height: 80px;
        }
    }
    @media screen and (max-width: 545px){
        html{
            font-size: 10px;
        }
        .container-flex{
            flex-direction:column ;
        }
        .listItem{
            font-size: 10px;
        }
        .logo{
            width: 80px;
            height: 80px;
        }
    }
    @media screen and (max-width: 360px){
        html{
            font-size: 7px;
        }
        .container-flex{
            flex-direction:column ;
        }
        .listItem{
            font-size: 7px;
        }
        .logo{

            width: 80px;
            height: 80px;
        }
    }
}